<!-- templates/modals/create_training_modal.html -->
<div class="modal fade" id="createTrainingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <form id="create-training-form" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Создать новую тренировку</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" name="title" class="form-control" required minlength="2" maxlength="50">
          </div>
          <div class="mb-3">
            <label class="form-label">Описание</label>
            <textarea name="description" class="form-control" required minlength="5" maxlength="256"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Дата</label>
            <input type="date" name="date" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Время начала</label>
              <input type="time" name="start_time" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Время окончания</label>
              <input type="time" name="end_time" class="form-control" required>
            </div>
          </div>
          {% if user.role == 'admin' %}
            <div class="mb-3">
              <label class="form-label">Тренер</label>
              <select name="trainer_id" class="form-select" required>
                {% for trainer in trainers %}
                  <option value="{{ trainer.id }}">{{ trainer.first_name }} {{ trainer.last_name }}</option>
                {% endfor %}
              </select>
            </div>
          {% else %}
            <input type="hidden" name="trainer_id" value="{{ user.id }}">
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
    </div>
  </div>