<div class="modal fade" id="editTrainingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <form id="edit-training-form" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Редактировать тренировку</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="edit-training-id" name="id">
          <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" id="edit-training-title" name="title" class="form-control" required minlength="2" maxlength="50">
          </div>
          <div class="mb-3">
            <label class="form-label">Описание</label>
            <textarea id="edit-training-description" name="description" class="form-control" required minlength="5" maxlength="256"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Дата</label>
            <input type="date" id="edit-training-date" name="date" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Время начала</label>
              <input type="time" id="edit-training-start-time" name="start_time" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Время окончания</label>
              <input type="time" id="edit-training-end-time" name="end_time" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>